<h1>The longest game!</h1>
<p>Results</p>
<p><%= @result[:message] %></p>
<p>Score: <%= @result[:score] %> points</p>
<p>Time elapsed: <%= @result[:time] %> seconds</p>
<p>Translation: <%= @result[:translation] %></p>

